h1 {
  font-family: 'Didact Gothic';
  color: #001f3f;
  padding-top: 15px;
}

h4 {
  padding:5px;
}

h3 {
  padding:15px;
}

h5 {
  padding: 5px;
  font-family: 'Poppins';
}

#nba-bracket {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#profile-pic {
  border-radius: 5px;
}
