{% extends "base.html" %}

{% block title %} All Teams {% endblock %}


{% block content %}
<div class="container">
  <h3 id=title >All NBA sports teams in the database</h3>
</div>


{% if teams %}

<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team Name</th>
      <th scope="col">Location</th>
      <th scope="col">Team Colors</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
    {% for t in teams %}
      <tr>
        <th scope="row">{{t.id}}</th>
        <td>{{t.name}}</td>
        <td>{{t.location}}</td>
        <td>{{t.team_colors}}</td>
        <td>
          <a href="/teams/edit/{{t.id}}" class="btn btn-primary">Edit</a>
          <button href="/teams/add" class="btn btn-danger delete_ajax_btn" role="button" data-team-id="{{t.id}}">Delete</a>
        </td>


      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class="container">
  <a href="/teams/add" class="btn btn-primary">Add a Team</a>
</div>


{% else %}
  <h2>teams table is empty</h2>
{% endif %}

{% endblock %}


{% block scripts%}
{{super()}}
<script>
  $(document).ready(function() {
    $(".delete_ajax_btn").click(function(event) {
      var team_id = $(this).data("team-id");
      // get the table row of this song
      var row = $(this).parent().parent();
      swal({
          title: "Are you sure?",
          type: "warning",
          html: true,
          showCancelButton: true,
          confirmButtonColor: "#f44336",
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        },
        function(isConfirm) {
            if (isConfirm) {
              $.ajax({
                  type: "DELETE",
                  url: "/api/teams/" + team_id,
                  success: function(response) {
                    console.log(response);
                    row.remove(); // remove the table row
                    swal({
                      title: "Deleted!",
                      text: response.name + " has been deleted.",
                      type: "success",
                      timer: 2500,
                      showConfirmButton: false
                    }); // end of SweetAlert
                  } // end of success callback function
                }) // end of ajax call
              .fail(function(error) {
                   // console.log(data);
                swal({
                  title:"Oops...",
                  text: "Deletion failed",
                  type: "error",
                  timer: 2000,
                  showConfirmButton: false
                }); // end of SweetAlert
              }); // end of fail function
          } // end of if Confirm block
      }); // end of confirmed function of SweetAlert
    }); // end of button click event function
  }); // end doc ready

   </script>

   {% endblock %}
