{% extends "base.html" %}


{% block title %} Homepage {% endblock %}


{% block content %}
<head>
<div class="container">


  <h1>Welcome to NBA Post!</h1>

  <h4>Final Project for MISY350</h4>
  <h5>By Jen Minnich</h5>

</div>
</head>


<div class="container">
  <body>
    <p>Since we are in the NBA Playoff season, this web app contains a database
    of teams, and their players, who made it to the Conference Finals for the 2018 NBA Playoffs. You can view
    the contents of each table within the database from the navigation bar.
    You can continue to update the database as the games continue within each table's webpage. </br>
    Enjoy the site and the playoffs!</p>

  </body>
</div>

<div class="container">
  <img id="nba-bracket" src="{{ url_for('static', filename='img/nba-bracket.png') }}" height="300px" width="785px">
</div>

{% endblock %}
