{% extends "base.html" %}

{% block title %} Homepage {% endblock %}


{% block content %}
<head>
<div class="container">


  <h1 id="welcome">Welcome to NBA Post!</h1>

  <h4>MISY350 Final Project by Jen Minnich</h4>

</div>
</head>


<div class="container">
  <body id="description">
    <p>Since we are in the NBA Playoff season, this web app contains a database
    of teams who made it to the Semi-finals of their conference. You can view
    the database under the 'Show' tab in the navigation bar.
    You can continue to update the database as the games continue under the 'Update'
    tab in the navigation bar.</p>
  </body>
</div>
{% endblock %}
